:root {
  --main-color: #52A5E0;
  --title-color: #EFF3F5;
  --text-color: #C8CDD0;
  --light-text-color: #A0A7AC;
  --sidebar-selected: #f6ae55;
  --border-color: #2A3B47;
  --container-color: #212E36;
  --body-color: #192229;
  --container-shadow: none;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}
.el-menu-item{
  color: var(--title-color) !important;
  font-weight: bold;
  font-size: 17px;
}
a {
  color: var(--main-color);
}

.subtitle {
  color: var(--light-text-color);
}

.button {
  background: var(--main-color) ;
  border-color:  var(--main-color);
}

.container {
  background: var(--container-color);
  box-shadow: var(--container-shadow);
}

label {
  color: var(--light-text-color) !important;
}

input{
  background: var(--body-color) !important;
  box-shadow: var(--container-shadow) !important;
  border:none !important
}